
/*@media*/
@media screen and (max-height:  860px) {
}
@media screen and (max-height:  680px) {
    .menu{
        top: 10px;
    }
    .menu .cw_main{
        padding: 0 10px;
    }
}
@media screen and (max-height:  600px) {
     logo{
        max-width: 130px;
    }
    logo img{
        width: 100%;
    }
    .menu_btn{
        width: 50px;
        height: 50px;
    }
    .menu_btn{
        font-size: 14px;
    }
    .call_phone{
        font-size: 10px;
        margin-right: 12px;
        line-height: 28px;
    }
    .call_btn {
        width: 110px;
        height: 28px;
        font-size: 12px;
    }
    .dom_rf_hd{
        width: 200px;
        right: 10px;
    }
    h1{
        font-size:  38px;
    }
    .hd_loc {
        font-size: 24px;
        line-height: 16px;
        padding-left: 23px;
        background-size: 20px 18px;
        padding-bottom: 0;
        padding-top: 5px;
        margin-top: 16px;
    }
    .hd_info {
        width: 112px;
        margin-top: 20px;
        padding-top: 14px;
        font-size: 12px;
    }
    .hd_info b{
        font-size: 18px;
    }
    h1 .dec1 {
        width: 51px;
        height: 47px;
        bottom: 12px;
        left: -34px;
    }
    h1 .dec2 {
        width: 82px;
        height: 70px;
        bottom: -11px;
        right: -30px;
    }
}
@media screen and (max-width: 1850px){
}
@media screen and (max-width: 1700px){
    .ap_right{
        width: 50%;
    }
    .ap_img {
        left: 10px;
        max-width: 45%;
    }
    .presentation_img {
        right: 10px;
        top: -50px;
        max-width: 50%;
    }
    .ap_info_img{
        right: 10px;
    }
}
@media screen and (max-width: 1550px){
}
@media screen and (max-width: 1410px) {
    .cw_main{
        padding-left: 10px;
        padding-right: 10px;
    }
    .tm{
        font-size: 46px;
    }
    .ap_info_img{
        top: -20px;
    }
    .ap_right > p{
        padding-top: 42px;
    }
    .galery .cw_main{
        width: 100%;
    }
    .gl_nav{
        height: 68px;
    }
    .gl_nav_l, .gl_nav_r{
        height: 70px;
        width: 70px;
    }
    .gl_nav_l span, .gl_nav_r span{
        height: 68px;
        width: 38px;
    }
    .galery .cw_main{
        top: 26px;
    }
    .gl_nav_wrap.cw_main{
        top: auto;
    }
    .galery > .dec3 {
        width: 171px;
        height: 135px;
        top: -90px;
        right: -78px;
        transform: rotate(180deg);
    }
    .galery > .dec2 {
        width: 124px;
        height: 94px;
        bottom: -54px;
        left: -46px;
    }
}
@media screen and (max-width: 1360px) {
}
@media screen and (max-width: 1250px){
}
@media screen and (max-width: 1150px){
    .ap_right{
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .ap_img{
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        max-width: 100%;
    }
    .about_project {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .presentation .cw_main{
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .cw_main{
        max-width: 730px;
    }
    .menu .cw_main{
        max-width: 1400px;
    }
    .presentation_img{
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        max-width: 100%;
        z-index: 4;
        margin-top: 30px;
    }
    .presentation .form_main{
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .presentation .form_main .react_input_style{
        width: 100%;
        margin-bottom: 12px;
    }
    .form_main .btn_main{
        width: 100%;
    }
    .presentation .form_main .react_input_style +.react_input_style{
        margin-bottom: 12px;
    }
    .galery .cw_main {
        top: auto;
        position: relative;
        transform: none;
        margin: 0 auto;
        left: auto;
    }
    .galery .tm {
        color: #1f2225;
        margin-bottom: 50px;
    }
    .galery{
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .gl_nav_wrap.cw_main{
        margin-top: 30px;
        text-align: center;
        display: block;
    }
    .gl_nav {
        width: 100%;
        padding-left: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 850px){
}
@media screen and (max-height: 768px) and (max-width: 850px){
}
@media screen and (max-width: 768px){
}

@media screen and (max-width: 730px){

}
@media screen and (max-width: 650px){
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 740px) {
    .dec1, .dec2, .dec3, .dec4, .dec5, .dec6, .dec7, .dec8, .dec9, .dec10{
        display: none;
    }
}
@media screen and (max-width:  590px) {   
    .tm{
        display: block;
        font-size: 28px;
        text-align: center;
    } 
    .ap_info_img{
        position: relative;
        top: auto;
        right: auto;
        margin: 0 auto;
        margin-top: 12px;
    }
    .ap_right > p{
        padding-top: 20px;
        padding-right: 0;
    }
    .ap_list li{
        width: 50%;
    }
    .ap_right > p{
        font-size: 20px;
        text-align: justify;
    }
    
} 
@media screen and (max-width: 560px){
    logo {
        max-width: 90px;
    }
    .menu_btn {
        width: 40px;
        height: 40px;
    }
    .menu_left {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .call_phone{
        margin: 0 auto;
    }
    h1 {
        font-size: 28px;
    }
    .hd_inner{
        padding-top: 30px;
    }
    .dom_rf_hd {
        right: 50%;
        transform: translateX(50%);
    }
    .gl_nav {
        height: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px){ 
    
    .ap_list li{
        width: 100%;
    }
}

@media screen and (max-width:  420px) {
}

@media screen and (max-width:  360px) {
}

/*@media*/