@font-face {
    font-family: 'Montserrat';
    src: url('/css/fonts/Montserrat-SemiBold.eot');
    src: url('/css/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Montserrat-SemiBold.woff') format('woff'),
         url('/css/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


.prpp {
    display: block;
    width: 100%;
    height: 68px;
    background: #f4f5f9;
    border: none;
    color: #1f4a9c;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 18px;
}

.loading_step, .name_step, .variants_step {
    height: 72vh;
}



.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #534abb;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #9891e5;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

.m_step .form_main input {
    width: 508px;
    height: 68px;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(12,12,12, .15);
    color: #ffffff;
    font-size: 18px;
    border: none;
    padding-left: 26px;
    margin-top: 26px;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.container_main {
    min-width: 320px;
    overflow: hidden;
    position: relative;
    font-family: 'Nunito', sans-serif;
    }


body {
    cursor: default;
}
.overflow { 
overflow: hidden; 
} 

.err { 
color: #FF0000 !important; 
    -webkit-animation: shake 1 linear .8s;
    -moz-animation: shake 1 linear .8s;
    -o-animation: shake 1 linear .8s;
    animation: shake 1 linear .8s;
}

a:hover {
    text-decoration: none;
}


a img {
    border: none;
}


fieldset {
    border: none;
    padding: 0px;
}


input,textarea,button {
    outline: none;
}


input[type="submit"], button {
    cursor: pointer;
    appearance: none;
    -webkit- appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
}


ol, ul {
    list-style: none;
}


blockquote, q {
    quotes: none;
}


blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}


:focus {
    outline: 0;
}


ins {
    text-decoration: none;
}


del {
    text-decoration: line-through;
}


* {
    outline-style: none;
}


button {
    cursor: pointer;
}


.clr {
    clear: both;
    width: 0px;
    height: 0px;
}

.align_center {
    text-align: center;
}


.wmain {
    max-width: 1200px;
    margin: 0 auto;
}

.main_wm{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background: url(/img/main_bg.jpg)no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

footer{
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .2);
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    /* z-index: 120; */
}
.fl,.fr{
    color: #fff;
    font-size: 8px;
    line-height: 1;
}
.fr a{
    text-decoration: none;
    color: #fff;
}
footer .footer_wm{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    width: 980px;
}


.main_page{
    width: 100%;
    padding-bottom: 100px;
}

.sect_wm{
    position: relative;
    width: 980px;
}
.main_page, .mw_step, .m_step{
    position: absolute;
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    top: auto;
    width: 100%;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.main_page.act, .mw_step.act, .m_step.act{
    position: relative;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 10;
    }
.viewed.district_step{
        transform: translateX(-50%) scaleX(.97);
        opacity: .3;
        margin-top: -10px;
        visibility: visible;
        z-index: 4;
    } 
.viewed.rooms_step{
        transform: translateX(-50%) scaleX(.95);
        opacity: .2;
        margin-top: -20px;
        visibility: visible;
        z-index: 3;
    } 
.viewed.rent_step{
        transform: translateX(-50%) scaleX(.93);
        opacity: .1;
        margin-top: -30px;
        visibility: visible;
        z-index: 2;
    } 
.m_subtit{
    display: block;
    font-size: 22px;
    color: #79a5ff;
    line-height: 120%;
    font-weight: 600;
}
.m_subtit span{
    white-space: nowrap;
}
h1{
    display: block;
    margin-top: 44px;
    line-height: 120%;
    font-family: 'Montserrat';
    font-size: 69px;
    color: #fff;
}
h1.admiralteyskiy-rayon-piter{
    font-size: 54px;
}
h1.vsevologskiy-rayon-piter{
    font-size: 58px;
}
h1.vasileostrovskiy-rayon-piter{
    font-size: 52px;
}
h1.pos-shushary-piter{
    font-size: 66px;
}
h1.tsentralnyy-rayon-sp{
    font-size: 62px;
}
h1.frunzenskiy-rayon-piter{
    font-size: 62px;
}
h1.pushkinskiy-rayon-piter{
    font-size: 62px;
}
h1.primorskiy-rayon-piter{
    font-size: 62px;
}
h1.petrogradskiy-rayon-piter{
    font-size: 58px;
}
h1.moskovskiy-rayon{
    font-size: 64px;
}
h1.kurortnyy-rayon{
    font-size: 66px;
}
h1.krasnoselskiy-rayon-piter{
    font-size: 56px;
}
h1.krasnogvardeyskiy-rayon-piter{
    font-size: 50px;
}
h1.rayon-kolpino{
    font-size: 64px;
}
h1.kirovskiy-rayon-piter{
    font-size: 64px;
}
h1.kalininskiy-rayon-piter{
    font-size: 62px;
}
h1.vyborgskiy-rayon-piter{
    font-size: 64px;
}
h1 span{ display: inline-block;font-size: inherit;line-height: 100%;}
h1 span img{display: inline-block; margin-right: 14px;}
h1 span img{display: none!important;}
.m_list{
   display: block; 
   margin-top: 56px;
}
.m_list span{
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 120%;
}
.m_list span + span{
    margin-top: 18px;
}
.btn_main{
    display: block;
    position: relative;
    z-index: 2;
    width: 360px;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 40px;
    background: #453fac;
    border: 2px solid #453fac;
    color: #fff;
    font-size: 20px;
    line-height: 70px;
    text-decoration: none;
    font-family: 'Montserrat';
    margin: 0 auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.btn_main:hover{
    background: none;
    color: #453fac;
}
.main_page .btn_main:after{
    display: block;
    position: absolute;
    content: '';
    width: 32px;
    height: 29px;
    background: url(/img/m_btn_dec.png)no-repeat center top;
    left: 50%;
    transform: translateX(-50%);
    bottom: -84px;
}

.main_page .btn_main{
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #463db0;
    border: none;
    margin-top: 58px;
}

.main_page .btn_main:hover{
    box-shadow: none;
    color: #463db0;
}


.mw_step{
    height: 680px;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding-top: 46px;
    padding-bottom: 44px;
    border-radius: 20px;
}
.mw_step .btn_main{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 42px;
}

.step_title{
    display: block;
    position: relative;
    font-size: 20px;
    color: #1f4a9c;
    line-height: 120%;
    font-family: 'Montserrat';
    text-align: center;
    padding-bottom: 34px;
    border-bottom: 1px solid #eaedf4;
}
.back_btn{
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    background: url(/img/back_arrow.png)no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 26px;
    height: 13px;
    cursor: pointer;
}
.step_ident{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 120%;
    right: 50px;
    top: 0;
    opacity: .4;
}


.check_list{
    display: block;
    margin-top: 36px;
    padding-bottom: 40px;
}
.check_list li{
    display: block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.check_list li span{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: 600;
    color: #1f4a9c;
    line-height: 25px;    
}
.check_list li:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 25px;
    height: 25px;
    left: 0;
    top: 0;
    border-radius: 6px;
    border: 1px solid #cdd4e4;
    margin-right: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.check_list li:hover{
    background: #f6f8fd;
}
.check_list li.act:before {
    background: #74cdfb url(/img/step_ok.png)no-repeat center center;
    border: 1px solid #74cdfb;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.raions_list{
    margin-top: 0;
}
.raion_scroll{
    margin-top: 30px;
    position: relative;
}
.rs_size{
    display: block;
    position: relative;
}
.rs_size:before {
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    width: 100%;
    height: 90px;
    background: linear-gradient(to top, #ffffff  12%, rgba(255,255,255,0) 100%);
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.raion_scroll {
    height: 412px;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll_main .mCSB_inside > .mCSB_container{
    margin-right: 0!important;
}
.scroll_main .mCSB_scrollTools {
    width: 4px!important;
    }
.scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background: rgba(0,0,0, .2)!important;
    border-radius: 0px!important;
    background: none!important;
}
.scroll_main .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, .scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{
    width: 100%!important;
}
.scroll_main .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 100%!important;
}
.scroll_main .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    border-radius: 6px!important;
}
.scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:  #ced2e3!important;
}
.scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background:  #ced2e3!important;
    opacity: 1;
}
.scroll_main .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{    
    background:  #ced2e3!important;
}
.scroll_main .mCSB_scrollTools{
    right: 35px!important;
    z-index: 111!important;
}


.jk_scroll .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background: rgba(0,0,0, .2)!important;
    border-radius: 0px!important;
    background: none!important;
}
.jk_scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    border-radius: 6px!important;
}
.jk_scroll .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:  #ced2e3!important;
}
.jk_scroll .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .jk_scroll .mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background:  #ced2e3!important;
    opacity: 1;
}
.jk_scroll .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{    
    background:  #ced2e3!important;
}






.form_main{
    margin-top: 35px;
}





.in_slider {
    position: relative;
    margin: 0 auto;
    margin-top: 148px;
    max-width: 484px;
}

.price_step  .form_main .in_slider input[type="text"]{
    display: block;
    width: 100%;
    height: 68px;
    background: #f4f5f9;
    border: none;
    color: #1f4a9c;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#slider {
    position: relative;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    z-index: 50;
    margin-top: 50px;
    background: #eaedf4;
}
#slider .ui-slider-handle {
    display: block;
    position: absolute;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    margin-top: -23px;
    background: #fff;
    cursor: pointer;
    outline-style: none;
    border: 2px solid #74cdfb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/*Полоска заполнителя слайдера*/
#slider .ui-slider-range {
    position: absolute;
    top: 0px;
    height: 2px;
    background: #74cdfb;
}



.variants_step{
    padding-top: 40px;
}
.ms_title{
    display: block;
    font-size: 60px;
    line-height: 120%;
    color: #fff;
    font-family: 'Montserrat';
}
.sale_text{
    display: block;
    margin-top: 40px;
    font-size: 0;
}
.sale_text span{
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    line-height: 120%;
    color: #79a5ff;
    font-weight: 600;
}
.sale_text img{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.m_step .form_main{
    margin-top: 60px;
}
.form_main > span{
    font-size: 24px;
    color: #fff;
    line-height: 120%;
}
.messengers .form_main > input,
.messengers .form_main > button{
    visibility: hidden;
}
.variants_list{
    display: block;
    font-size: 0;
    margin-top: 16px;
}
.var_in{
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    width: 90px;
    height: 90px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
    background-position: center center;
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.var_in+.var_in{margin-left: 12px;}
.var_in:hover{
    box-shadow: none;
}
.only_what_btn {
    width: 290px;
    background-position: center left 18px!important;
    height: 66px;
    border-radius: 42px;
    font-size: 16px;
    color: #463db0;
    line-height: 66px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 34px;
    text-decoration: none;
    font-family: 'Montserrat';
    margin-top: 20px;
}
.whatsapp_ch{
    background:  url(/img/whatsapp_def_ico.png) no-repeat center center; 
    border-color: #675fc5;
    box-shadow: none;
}
.viber_ch{
    background:  url(/img/viber_def_ico.png) no-repeat center center; 
    border-color: #675fc5;
    box-shadow: none;
}
.phone_ch{
    background:  url(/img/phone_def_ico.png) no-repeat center center; 
    border-color: #675fc5;
    box-shadow: none;
}

.whatsapp_ch.filled{
    background: #fff url(/img/whatsapp_ico.png) no-repeat center center; 
}
.viber_ch.filled{
    background: #fff url(/img/viber_ico.png) no-repeat center center; 
}
.phone_ch.filled{
    background: #fff url(/img/phone_ico.png) no-repeat center center; 
}


.m_step .form_main input{
    width: 508px;
    height: 68px;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(12,12,12, .15);
    color: #ffffff;
    font-size: 18px;
    border: none;
    padding-left: 26px;
    margin-top: 26px;
}

input::-webkit-input-placeholder { color: #ffffff; }
input:-ms-input-placeholder { color: #ffffff; }
input::-ms-input-placeholder { color: #ffffff; }
input::placeholder { color: #ffffff; }

button.btn_main{
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    border: none;
    margin-top: 58px;
    margin-left: 0;
}
button.btn_main span{
    color: #463db0;    
}

button.btn_main:hover{
    box-shadow: none;
   background: #fff;
}

.step_dec {
    display: block;
    position: absolute;
    z-index: 1;
    background: url(/img/step_dec.png) no-repeat center top;
    width: 980px;
    height: 156px;
    left: 50%;
    transform: translateX(-50%);
    top: -164px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
 .step_dec.act{
    top: -10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}


.progress {
    position: relative;
    margin-top: 40px;
}

.progres_num {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0;
    top: 0;
    font-size: 30px;
    line-height: 68px;
    color: #10bdf4;
    padding-left: 42px;
    font-family: 'Montserrat';
}
.progress_inner {
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 68px;
    position: relative;
    background: url(/img/progress.png) no-repeat left top;
    -webkit-background-size: 320px;
    -o-background-size: 320px;
    background-size: 490px;
}
.progress_inner span {
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: url(/img/progress.png) no-repeat left bottom;
    -webkit-background-size: 490px;
    -o-background-size: 490px;
    background-size: 490px;
    -webkit-transition: 0.2s cubic-bezier(0, 1.04, 0.83, 0.98);
    -moz-transition: 0.2s cubic-bezier(0, 1.04, 0.83, 0.98);
    -ms-transition: 0.2s cubic-bezier(0, 1.04, 0.83, 0.98);
    -o-transition: 0.2s cubic-bezier(0, 1.04, 0.83, 0.98);
    transition: 0.2s cubic-bezier(0, 1.04, 0.83, 0.98);
}

.progress_result {
    font-size: 22px;
    color: #FFF;
    font-weight: 600;
    margin-top: 30px;
}




.jk_step .ms_title{
    font-size: 55px;
}
.call_back{
    display: block;
    position: relative;
    max-width: 490px;
    margin: 0 auto;
    margin-left: 0;
    background: #6b76d9;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 22px 18px 66px 18px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 60px;
}
.call_back span{
    color: #07cefd;
}
.free{
    display: inline-block;
    position: absolute;
    padding: 0 20px;
    line-height: 40px;
    font-size: 16px;
    background: #808be8;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0;
    left: 0;
}
.call_back_ico{
    display: block;
    position: absolute;
    bottom: 15px;
    right: 24px;
}



/*scroll*/
   .new_scroll_main_y > .scroll-element,
   .new_scroll_main_y > .scroll-element div
   {
       border: none;
       margin: 0;
       padding: 0;
       position: absolute;
       z-index: 10;
   }

   .new_scroll_main_y > .scroll-element div {
       display: block;
       height: 100%;
       left: 0;
       top: 0;
       width: 100%;
   }

   .new_scroll_main_y > .scroll-element.scroll-x {
       bottom: 2px;
       height: 8px;
       left: 0;
       width: 100%;
   }

   .new_scroll_main_y > .scroll-element.scroll-y {
       height: 100%;
       right: 34px;
       top: 0;
       width: 4px;
   }

   .new_scroll_main_y > .scroll-element .scroll-element_outer {
       overflow: hidden;
   }

   .new_scroll_main_y > .scroll-element .scroll-element_outer,
   .new_scroll_main_y > .scroll-element .scroll-element_track,
   .new_scroll_main_y > .scroll-element .scroll-bar {
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       border-radius: 6px;
   }

   .new_scroll_main_y > .scroll-element .scroll-bar {
       opacity: 1;
   }
   .new_scroll_main_y > .scroll-element .scroll-element_track{
    opacity: 0;
   }

   .new_scroll_main_y > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
   .new_scroll_main_y > .scroll-element .scroll-bar { background-color: #ced2e3 ; }
   .new_scroll_main_y > .scroll-element:hover .scroll-bar { background-color: #919191; }
   .new_scroll_main_y > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


   /* update scrollbar offset if both scrolls are visible */

   .new_scroll_main_y > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
   .new_scroll_main_y > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


   .new_scroll_main_y > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
   .new_scroll_main_y > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

/*scroll*/


.jk_scroll{
    display: block;
    position: relative;
    margin-top: 20px;
    width: 100%;
}
.jk_list{
   /* display: block;
    font-size: 0;
    width: 100%;*/
}
.jk_list li{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    cursor: pointer;
    margin-left: 12px;
}
.jk_list li > a{text-decoration: none;}
.jk_img {
    display: block;
    width: 100%;
    position: relative;
    height: 240px;
    overflow: hidden;
    border-radius: 22px;
}
.jk_list li img {
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.jk_list li span{
    display: block;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 120%;
    margin-top: 22px;
    font-family: 'Montserrat';
}
.jk_list li span:after {
    display: inline-block;
    margin-left: 5px;
    content: '';
    background: url(/img/ac_ico.png)no-repeat center top;
    width: 12px;
    height: 12px;
}
.apart_count{
    display: block;
    font-size: 16px;
    color: #07cefd;
    line-height: 120%;
    margin-top: 12px;
}



    .closeform {
    display: block;
    position: absolute;
    background: url(/img/closeform.png) no-repeat center center;
    height: 27px;
    width: 27px;
    right: -30px;
    top: -31px;
    z-index: 999999;
}
    .closeform:hover{opacity:  0.5;}

.popup_rgba {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    background: url("img/popup_rgba.png");
    overflow: hidden;
    -ms-overflow-y: scroll;
        overflow-y: scroll;
}

   .popup_main {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 570px;
    margin-bottom: 70px;
    background: #FFF;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
}

    .popup_cell {
        display: table-cell;
        vertical-align: middle;
    }
    .popup_table {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }





iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}



.jk_list {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: scroll;
    overflow: auto;
    padding-bottom: 20px;
}

.jk_list li {
    min-width: 180px;
}

/*@media*/

@media screen and (max-width: 1920px){
}
@media screen and (max-width: 1650px){
}
@media screen and (max-width: 1400px){
   
}
@media screen and (max-width: 1290px) {
    
}
@media screen and (max-width: 1230px) {
    
}

@media screen and (max-width: 1220px) {
    }

@media screen and (max-width: 1210px) {
}

@media screen and (max-width: 1190px) {
}

@media screen and (max-width: 1150px) {
   }

@media screen and (max-width: 1060px) {
}

@media screen and (max-width: 1280px) {
.main_wm{
    justify-content: flex-end;
}
.main_page {
    height: 80vh;
}
.loading_step,  .name_step, .variants_step{
    height: 78vh;
}
.jk_step{
    height: 90vh;
}
.mw_step {
    height: 90vh;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.sect_wm{
    box-sizing: border-box;
    width: 100%;
}
footer .footer_wm{
    box-sizing: border-box;
    width: 100%;
}
.viewed.district_step{
        transform: translateX( -50%) scaleX(.95);
        margin-top: -6px;
    } 
.viewed.rooms_step{
        transform: translateX( -50%) scaleX(.92);
        margin-top: -12px;
    } 
.viewed.rent_step{
        transform: translateX( -50%) scaleX(.88);
        margin-top: -18px;
    } 
.step_dec{
        width: 98%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }


   .main_page {
    padding: 0 6px;
    box-sizing: border-box;
    }


.in_slider{
    padding: 0 6px;
    box-sizing: border-box;
}

.variants_step{
    padding: 0 6px;
    box-sizing: border-box;
}

.loading_step{
    padding: 0 6px;
    box-sizing: border-box;
}

.name_step{
    padding: 0 6px;
    box-sizing: border-box;
}
.jk_step{
    padding: 0 6px;
    box-sizing: border-box;
}

.step_title {
    padding: 0 65px;
    box-sizing: border-box;
}

}

@media screen and (max-height: 850px) and (max-width: 1000px){
    h1{
        font-size: 40px;
    }
    .main_page .btn_main:after{
        bottom: -40px;
    }
    .m_list span + span {
        margin-top: 4px;
    }
    .step_ident {
        font-size: 14px;
        right: auto;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
    }
    .back_btn{
        left: 20px;
    }
    .ms_title{
        font-size: 28px;
    }
    .sale_text{
        margin-top: 18px;
    }
    .m_step .form_main {
        margin-top: 22px;
    }
    .m_step .form_main input{
        width: 97%;
    }
    .jk_step .ms_title {
        font-size: 30px;
    }
    #slider .ui-slider-handle{
        width: 30px;
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;        
    }
    .fixed_btn {
        position: fixed;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        bottom: 50px;
    }
}

@media screen and (max-height: 800px){
       .mw_step {
        margin-bottom: 0;
}
   h1 {
    margin-top: 50px;
    font-size: 36px;
    line-height: 100%;
}
    .m_list {
    margin-top: 52px;
}
    .m_list span + span {
    margin-top: 8px;
}
.main_page .btn_main {
    margin-top: 50px;
}
.call_back{
    margin-bottom: 20px;
}
.act .step_dec {
    top: -80px;
    }
    .main_page{
        padding-bottom: 26px;
    }
    .jk_step {
    height: 92vh;
}
}
@media screen and (max-height: 720px){
    .main_page{
        padding-bottom: 50px;
    }
    .main_page .btn_main:after{
        bottom: -48px;
    }
   /* .mw_step{
        height: 520px;
    }*/
    .raion_scroll {
    height: 262px;
}
.mw_step .btn_main{bottom: 56px;}
.in_slider{
    margin-top: 100px;
}
.progress{
    margin-top: 20px;
}
button.btn_main{
    margin-top: 24px;
}
.m_step .form_main{
    margin-top: 30px;
}
.ms_title{
    font-size: 44px;
}
.jk_step .ms_title {
    font-size: 28px;
}
.call_back {
    padding: 16px;
    padding-bottom: 46px;
}
.jk_list li span{
    margin-top: 12px;
}
.jk_scroll {
    /*height: 320px;*/
}
.main_page {
    height: 90vh;
}
.iphone .main_page {
    height: 80vh;
}
.iphone .mw_step {
    height: 80vh;
 }
 .iphone .jk_step {
    height: 82vh;
}
.loading_step, .name_step, .variants_step {
    height: 72vh;
}
}
@media screen and (max-height: 850px) and (max-width : 380px){
    .main_wm {
    background: url(/img/main_bg_m.jpg)no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}
 h1 {
    font-size: 28px;
}
.ms_title{
    font-size: 26px;
}
   .main_page {
    padding: 0 6px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
    .main_page .btn_main:after{
           width: 48px;
            height: 4px;
            border-radius: 10px;
            background: #6860b9;
            bottom: -16px;
    }
   .mw_step {
   /* height: 570px;
    margin-bottom: -70px;*/
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
}
        .mw_step .btn_main {
                bottom: 34px;
            }
            .raion_scroll{
                height: 100%;
            }
    .rs_size {
        /*height: 262px;*/
        height: calc(100% - 150px) !important;
    }
.in_slider{
    margin-top: 100px;
    box-sizing: border-box;
    padding: 0 6px;
}
.progress{
    margin-top: 20px;
}
button.btn_main{
    margin-top: 24px;
}
.m_step .form_main{
    margin-top: 30px;
}
.ms_title{
line-height: 100%;
}
.jk_step .ms_title {
    font-size: 28px;
    line-height: 100%;
}
.call_back {
    padding: 16px;
    padding-bottom: 46px;
    font-size: 14px;
}
.jk_list li span{
    margin-top: 12px;
}
.jk_scroll {
    /*height: 320px;*/
}
.btn_main{
    width: 98%;
}

.variants_step{
    padding: 0 6px;
    box-sizing: border-box;
}
.sale_text span{
    font-size: 16px;
}
.sale_text img{
    margin-right: 10px;
}
.m_step .form_main input{
    width: 98%;
}

.loading_step{
    padding: 0 6px;
    box-sizing: border-box;
}
.progress_inner {
    display: block;
    width: 290px;
    height: 60px;
    position: relative;
    background: url(/img/progress_m.png) no-repeat left top;
    -webkit-background-size: 290px;
    -o-background-size: 290px;
    background-size: 290px;
}
.progress_inner span {
    background: url(/img/progress_m.png) no-repeat left bottom;
    -webkit-background-size: 290px;
    -o-background-size: 290px;
    background-size: 290px;
}
.progres_num{
    padding-left: 0;
    padding-right: 36px;
    font-size: 20px;
    margin-top: 15px;
    line-height: 120%;
}
.progress_result{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 120%;
    margin-top: 18px;
}

.name_step{
    padding: 0 6px;
    box-sizing: border-box;
}
.jk_step{
    padding: 0 6px;
    box-sizing: border-box;
}



.district_step .step_title:after,
.rooms_step .step_title:after,
.rent_step .step_title:after,
.price_step .step_title:after{
    display: block;
    position: absolute;
    line-height: 100%;
    color: #bcc4db;
    right: 30px;
    top: calc(50% - 11px);
    transform: translateY(-50%);    
}
.district_step .step_title:after {
    content: '1/4';
    font-size: 16px;
}
.rooms_step .step_title:after {
    content: '2/4';
    font-size: 16px;
}
.rent_step .step_title:after {
    content: '3/4';
    font-size: 16px;
}
.price_step .step_title:after {
    content: '4/4';
    font-size: 16px;
}
.back_btn{
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 4px;
    background: #ecebf7;
    top: -16px;
}
.step_ident{
    display: none;
}
.step_title {
    font-size: 16px;
    padding: 0 65px;
    padding-bottom: 22px;
}
}

@media screen and (max-height: 600px){
       .mw_step {
        margin-bottom: 0;
}
.loading_step, .name_step, .variants_step {
    height: 90vh;
}
    .main_page{padding-bottom: 0;}
    .main_page .btn_main:after{   display: none; }
    .raion_scroll{   margin-top: 12px;  }
    .step_title{  padding-bottom: 22px;  }
    .mw_step{  padding-top: 22px;   padding-bottom: 22px; }
    /*.mw_step {  height: 440px;}*/
.check_list li{ padding-top: 8px; padding-bottom: 8px;}
.in_slider { margin-top: 78px;}
.sale_text{ margin-top: 20px;}
.ms_title { font-size: 32px;}
/*.m_step .form_main input{margin-top: 0;}*/
.form_main span{ display: block; margin-bottom: 12px;}
.call_back {    padding-top: 10px;  font-size: 14px;}

}
@media screen and (max-width: 990px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 940px) { 
}

@media screen and (max-width: 900px) {
    .main_wm {
    align-items: flex-end;
    align-content: center;
    flex-direction: row;
}
    .main_page, .mw_step, .m_step {
        position: absolute;
        transform: none;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
        /*width: 480px;*/
    }
    .viewed.district_step {
    transform: translateX(-50%) scaleX(.95);
    left: 50%;
    margin-top: -6px;
}
    .viewed.rooms_step{
            transform: translateX(-50%) scaleX(.92);
            left: 50%;
            margin-top: -12px;
        } 
    .viewed.rent_step{
            transform: translateX(-50%) scaleX(.88);
            left: 50%;
            margin-top: -18px;
        } 

        .m_subtit{
            font-size: 18px;
        }
        .m_subtit br{
            display: none;
        }
        h1{
            font-size: 30px;
            margin-top: 46px;
        }

h1.admiralteyskiy-rayon-piter{
    font-size: 30px;
}
h1.vsevologskiy-rayon-piter{
    font-size: 30px;
}
h1.vasileostrovskiy-rayon-piter{
    font-size: 30px;
}
h1.pos-shushary-piter{
    font-size: 30px;
}
h1.tsentralnyy-rayon-sp{
    font-size: 30px;
}
h1.frunzenskiy-rayon-piter{
    font-size: 30px;
}
h1.pushkinskiy-rayon-piter{
    font-size: 30px;
}
h1.primorskiy-rayon-piter{
    font-size: 30px;
}
h1.petrogradskiy-rayon-piter{
    font-size: 30px;
}
h1.moskovskiy-rayon{
    font-size: 30px;
}
h1.kurortnyy-rayon{
    font-size: 30px;
}
h1.krasnoselskiy-rayon-piter{
    font-size: 30px;
}
h1.krasnogvardeyskiy-rayon-piter{
    font-size: 26px;
}
h1.rayon-kolpino{
    font-size: 30px;
}
h1.kirovskiy-rayon-piter{
    font-size: 30px;
}
h1.kalininskiy-rayon-piter{
    font-size: 30px;
}
h1.vyborgskiy-rayon-piter{
    font-size: 30px;
}
        h1 span img {
            margin-right: 10px;
            width: 30px;
        }
        .m_list span + span {
            margin-top: 4px;
        }
        .main_page{
            padding-bottom: 50px;
        }
        .main_page .btn_main:after{
            display: block;
            width: 48px;
            height: 4px;
            border-radius: 10px;
            background: #6860b9;
            bottom: -16px;
        }
        .step_ident{
            display: none;
        }
        .m_list{
            margin-top: 36px;
        }
        .mw_step{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            padding-top: 30px;
        }
        .mw_step .btn_main {
                bottom: 50px;
                z-index: 111;
            }
        .check_list{
            padding-bottom: 12px;
        }
        .main_page .btn_main {
            margin-top: 58px;
        }
        .mw_step {
        /*height: 540px;*/
    }
    .raion_scroll {
    /*height: 364px;*/
}
.step_title {
    position: relative;
    padding: 0px 54px 22px 24px;
    text-align: left;
    font-size: 18px;
}
.back_btn{
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 4px;
    background: #ecebf7;
    top: -16px;
}
.check_list li {
    padding-top: 13px;
    padding-bottom: 13px;
}
.district_step .step_title:after,
.rooms_step .step_title:after,
.rent_step .step_title:after,
.price_step .step_title:after{
    display: block;
    position: absolute;
    line-height: 100%;
    color: #bcc4db;
    right: 30px;
    top: calc(50% - 11px);
    transform: translateY(-50%);    
}
.district_step .step_title:after {
    content: '1/4';
    font-size: 16px;
}
.rooms_step .step_title:after {
    content: '2/4';
    font-size: 16px;
}
.rent_step .step_title:after {
    content: '3/4';
    font-size: 16px;
}
.price_step .step_title:after {
    content: '4/4';
    font-size: 16px;
}
.in_slider {
    box-sizing: border-box;
    padding: 0 15px;
}
.step_dec {
    height: 20vh;
    background: url(/img/step_dec_m.png)no-repeat center top;
    border-radius: 7vh;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.step_dec.act {
    top: -24px;
    }
.variants_step{
    padding-bottom: 30px;
}
.name_step{
    padding-bottom: 128px;
}
.m_step .form_main input{
    width: 100%;
}
.progress_inner {
    display: block;
    width: 290px;
    height: 60px;
    position: relative;
    background: url(/img/progress_m.png) no-repeat left top;
    -webkit-background-size: 290px;
    -o-background-size: 290px;
    background-size: 290px;
}
.progress_inner span {
    background: url(/img/progress_m.png) no-repeat left bottom;
    -webkit-background-size: 290px;
    -o-background-size: 290px;
    background-size: 290px;
}
.progres_num{
    padding-left: 0;
    padding-right: 36px;
    font-size: 20px;
    margin-top: 15px;
    line-height: 120%;
}
.progress_result{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 120%;
    margin-top: 18px;
}
.loading_step{
    padding-bottom: 150px;
}
.jk_step .ms_title {
    font-size: 20px;
}
}

@media screen and (max-width: 880px) {

}

@media screen and (max-width: 830px) {
	footer .footer_wm {
		flex-direction: column;
		align-content: flex-start;
		align-items: flex-start;
	}
	.fr{
		margin-top: 6px;
	}

}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 740px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 690px) {

}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 620px) {
}

@media screen and (max-width: 580px) {
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 540px) {
}

@media screen and (max-width: 530px) {
}

@media screen and (max-width: 490px) {  
    html, body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}
#slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}
#slider{
    width: 94%;
    margin: 0 auto;
    margin-top: 40px;
}
.main_page {
    padding-bottom: 26px;
    /*width: 306px;*/
    /*height: inherit;*/
} 
.container_main{
    height: inherit;
}
h1 {
    font-size: 26px;
    margin-top: 42px;
}
.m_list {
    margin-top: 34px;
}
.main_page .btn_main {
    /*width: auto;*/
    font-size: 18px;
    /*position: absolute;*/
    /*left: 6px;*/
    /*right: 6px;*/
    bottom: 116px;
}
.main_wm {
    background: url(/img/main_bg_m.jpg)no-repeat center top!important;
    -webkit-background-size: cover!important;
    background-size: cover!important;
   
}
.loading_step, .name_step, .variants_step {
    height: 82vh;
}
.mw_step {
    /*height: 538px;*/
    width: 100%;
}
.step_dec{
    width: 100%;
}
/*.m_step {
    width: 290px;
}*/
button.btn_main{
    width: 100%;
}
.ms_title {
    font-size: 26px;
}
.ms_title br{
   display: none;
}
.mw_step .btn_main {
    width: 290px;
    font-size: 18px;
}
.sale_text img{
    width: 60px;
    margin-right: 14px;
}
.sale_text span{
    font-size: 14px;
}
.form_main > span{
    font-size: 14px;
}
.m_step .form_main {
    margin-top: 54px;
}
.btn_main{
    font-size: 18px;
}
.loading_step {
    padding-bottom: 130px;
}
.progres_num{
    padding-right: 16px;
}
.jk_scroll {
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 0px;
}
.jk_img{height: 220px;}
.apart_count{margin-top: 4px;}
.jk_list li span {
    margin-top: 8px;
}
.jk_step .ms_title {
    font-size: 16px;
}
.check_list li:before{
    margin-right: 18px;
}
.check_list li{
    padding-left: 18px;
}
.price_step .form_main .in_slider input[type="text"]{
    font-size: 18px;
}
.mCSB_scrollTools {
    right: 18px;
    }
}

@media screen and (max-height: 558px){
    .mw_step {
    /*height: 448px;*/
}
.check_list li {
    padding-top: 6px;
    padding-bottom: 6px;
}
.check_list{
    margin-top: 20px;
}
.m_step .form_main {
    margin-top: 20px;
}
.jk_img{
    height: 180px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
    bottom: 10px;
}
.call_back {
    font-size: 12px;
    line-height: 120%;
}
.free {
    padding: 0 14px;
    line-height: 29px;
    font-size: 13px;
    }
    .call_back_ico {
    bottom: 6px;
    right: 10px;
}
}
@media screen and (max-width: 520px) {
    .step_ident {
        display: none;
    }
}
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 470px) {  
}

@media screen and (max-width: 460px) {
    .fl, .fr{
        font-size: 8px;
    }
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 380px) {
    .raion_scroll {
        /*height: 262px;*/
        /*height: calc(100% - 130px) !important;*/
        height: 97%;
    }

    .raion_scroll #mCSB_1:before {
        height: 60px !important;
    }
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 340px) {
}